<footer id="sticky-footer" class="py-4 bg-dark text-white">
<div class="container text-center">
  <small>Copyright &copy; <a href="https://www.linkedin.com/in/utkarsh-singh-64299a142/" target="_blank">Developer Profile</a> </small>
</div>
</footer>
